gunicorn
uvloop
uvicorn
fastapi
edge-tts
python-multipart
pydantic
aiofiles
python-dotenv
json-repair
aiohttp
SpeechRecognition
deep-translator
pydub
imageio-ffmpeg
sqlalchemy
passlib[bcrypt]
psycopg2-binary
bcrypt
